{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bot Monitoring </title>
    <!-- BOOTSTRAP STYLES-->
  
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- GOOGLE FONTS-->

 <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
 
<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header text-center">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand" >&nbsp; Welcome To EBUY BOT MONITOR</a>
                </div>
                 <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                       <form method="post" action="{% url 'account_logout' %}">
                         {% csrf_token %}
                          <button  class= "btn-primary" type="submit"> LogOut </button>
</form>
                     
                      
                    </ul>
                </div>
                

            </div>
        </div>
        <!-- /. NAV TOP  -->
    
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                 <li><a href="dash"><i class="fa fa-desktop "></i>Dashboard</a></li>
                    <li>
                        <a ><i class="fa fa-edit "></i>Process<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="log">EBUY GSA</a></li>
                            </ul>
                    </li>  
                </ul>
            </div>
        </nav> 
<!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <h2 align="center">EBUY GSA</h2><hr />
                  
                    <div class="container-fluid" style="background-color:white">
                         <div class="row" style="margin-left:20px" >
                             <div class="col-md-5 " style="background-color:#fff9d4;margin-right: 20px;height:300px; width:400px;padding-top: 10px;padding-left: 10px;padding-right: 10px;padding-bottom: 0px;border-radius: 10px">
                                    <h2>Bots Information</h2>
                                    <p>Bot Name:   </p>
                                    <p>Bot Source of Trigger:  </p>
                                    <p>Bot Last Run: </p>
                                    <p>Bot Total Tables: </p>
                                    <p>Bot Runing Time:   </p>
                                    <p>Bot Status: </p>
                                    <p> Bot current status :  </p>
                             </div>
                             <div class="border-left d-sm-none d-md-block" style="width: 5px;"></div>
                             <div class="col-md-4" style="background-color:#fff9d4;margin-left: 170px;height: 300px;width:400px;padding-top: 10px;padding-left: 10pxpadding-right: 10px;padding-bottom: 0px;border-radius: 10px">
                                 <h2>Errors During Runtime</h2>
                                 <a href="launch"> <button class="btn btn-primary" style= "margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%" onclick="alert('Triggered ')"> Manual Tigger Bot</button> </a>
    
                            </div>
                        </div>
                 </div>
                

                </div>
        </div>
</div>
  
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'js/custom.js' %}"></script>


</body>
</html>
