{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bot Monitoring </title>
    <!-- BOOTSTRAP STYLES-->
  
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->

 <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
 
<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header text-center">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">&nbsp;Welcome To EBUY BOT MONITOR</a>
                </div>
                 <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      
                     <a href="logout">  <button class="btn-primary"> Logout  </button> </a>
                      
                    </ul>
                </div><a href="logout"> 
                

            </div>
        </div>
        <!-- /. NAV TOP  -->
    
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    


                    
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Process<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Log</a>
                            </li>
                        
                            
                        </ul>
                    </li>

                   
                    


             
                  
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
               
<table class="center" width="100%" height= "100%"  bgcolor="#00ff00"  style="margin-left:auto margin-right:auto; table-layout:fixed;">
  <tr>
    <th>Bot Last Runtime Info </th>
    <th>Errors During Runtime </th>
  </tr>
  <tr>
  <td>
  <br>
    Bot Name : {{log_info.name}} <br> <br>
    Bot Source of trigger :  {{log_info.source}} <br> <br>
	Bot Last Run: {{log_info.last_run}} <br> <br>
	Bot Total Tables Retrieved: {{log_info.tables}} <br> <br>
	Bot Running Time: {{log_info.total_time}} <br> <br>
	Last Run Status: {{log_info.status}} <br>	 <br>
 </td>
  <td>{{log_error}}</td>
  </tr>
</table>
<br>
 <strong><h>Bot current status : {{status}}</h></strong>
<a href="launch"> <button class="btn btn-primary" style= "margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%" onclick="alert('Triggered '+{{status}})"> Manual Tigger Bot</button> </a>
</div>
</div>
</div>




                          
                   
                        
                 
                   
                      
 

</div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'js/custom.js' %}"></script>


</body>
</html>
